@font-face {
    font-family: "Byte Bounce";
    src: url("/fonts/ByteBounce.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 800px;
    font-family: "Byte Bounce";
}

.main-content {
    background-image: url(/images/clouds.gif);
    height: 100vh;
}

.desktop-container nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
        to right,
        var(--amaranth-pink),
        var(--lavender-blush)
    ); 
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    height: 28px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff;
}

.desktop-container footer {
    background-color: var(--alabaster); 
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080;
    padding: 4px 8px;
    height: 28px;
}

.desktop-container {
    margin-left: 5%;
    margin-right: 5%;
    height: 600px;
    width: 850px;
    margin-top: 5%;
}

:root {
    /* Soft Neutrals */
    --antique-white: #faebd7;
    --alabaster: #eefef8;

    /* Warm Pinks */
    --puce: #cc8899;
    --cherry-blossom-pink: #e9acbb;
    --soft-pink: #f5c8c4;
    --spring-coral: #f59c9a;
    --peach-fuzz: #ffbe98;

    /* Light Yellows */
    --peach: #fcebbf;
    --butter-yellow: #ffe7ab;

    /* Blues */
    --columbia-blue: #c9b297;
    --periwinkle-pale-blue: #9eccf0;
    --azure: #d6e6e7;

    /* Greens */
    --cambridge-blue: #8fbc93;
    --pistachio-green: #c5dba9;
    --citron: #c5cc82;
    --moss-green: #97a13b;

    /* Extras from image text */
    --amaranth-pink: #e0a3bb;
    --lavender-blush: #f4dfe6;
}
