

.tab-container input[type="radio"] {
    display: none; 
}

.tab-container tab {
    width: 100%;
    padding: 2px;
    background-color: antiquewhite;
}

.tab-container label {
    background-color: white;
}

.tab-container .tab {
    width: 100%; 
    background-color: white;
    order: 1;  
    display: none;
}

.tab-container input[type="radio"]:checked + label + .tab {
    display: block;
}

.tab-container input[type="radio"]:checked + label {
    background: pink;
}