.tab-container input[type="radio"] {
    display: none;
}

.tab-container label {
    background-color: var(--moss-green);
    font-family: "Block Blueprint", sans-serif;
}

.tab-container .tab {
    width: 100%;
    background-color: var(--vanilla-cream);
    order: 1;
    display: none;
}

.tab-container input[type="radio"]:checked + label + .tab {
    display: block;
}

.tab-container input[type="radio"]:checked + label {
    background: var(--kombu-green);
    color: var(--vanilla-cream);
}
