@font-face {
    font-family: "Byte Bounce";
    src: url("/assets/fonts/ByteBounce.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Orange Kid";
    src: url("/assets/fonts/Orange\ Kid.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Retro Byte";
    src: url("/assets/fonts/RetroByte.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VP Pixel";
    src: url("/assets/fonts/VPPixel-Simplified.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Computer Pixel";
    src: url("/assets/fonts/computer_pixel-7.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FF Path";
    src: url("/assets/fonts/FFPathSpect-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Block Blueprint";
    src: url("/assets/fonts/Blockblueprint-LV7z5.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Microsoft OG";
    src: url("/assets/fonts/w95fa.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VCR";
    src: url("/assets/fonts/VCR.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@import "./window.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.pane-filler {
    box-shadow: 4px -4px 6px rgba(0, 0, 0, 0.09);
}

:root {
    /* Soft Neutrals */
    --antique-white: #faebd7;
    --light-brown: #e6cca2;

    /* brown and pink pallet */

    /* PINKS / BLUSHES */
    --whisper-pink: #fce9ec;
    --blush-pink: #f9c6cc;
    --bubblegum-pink: #f7afbf;
    --shell-pink: #f7b2b7;
    --dutch-tulips: #f5b6a7;
    --rose-blush: #d8a48f;
    --peach-blush: #bb8487;
    --sweet-pink: #ffd3da; 
    --sweeter-pink: #ffdbe0; 

    /* BROWNS / NEUTRALS */
    --vanilla: #fff9f5;
    --vanilla-cream: #fff4ec;
    --sailboat-marina: #f2ead5;
    --bone: #e6d7c4;
    --tan: #cfbb9a;
    --milk-tea-brown: #a77966;
    --milk-brown: #a2756c;
    --ashy-brown: #5e473d;
    --coffee-brown: #5e4034;
    --cocoa-brown: #6e4b47;
    --cocoa-text: #4a2e2a;
    --ink: #38221a;
    --ink-black: #2f1e1e;
    --cafe-noir: #4b3d1a;

    /* GREENS / EARTH TONES */
    --mint-glint: #d0eed6;
    --mint-dust: #cbe3c0;
    --moss-green: #899064;
    --melon-rind: #a7a155;
    --kombu-green: #364025;

    /* YELLOWS / WARM TONES */
    --sweet-tarts: #d3c98b;
    --nutty-brown: #a66c44;

    --brown-titlebar-stripes: repeating-linear-gradient(
        to bottom,
        var(--coffee-brown) 0px,
        var(--coffee-brown) 3.5px,
        var(--cocoa-brown) 3.5px,
        var(--cocoa-brown) 6px
    );
}
