/* WINDOW */
.window {
    border-radius: 10px;
    background-color: var(--milk-tea-brown);
    border: 2px solid var(--milk-tea-brown);
    overflow: hidden;
    position: relative; 
}

/* TITLE BAR */
.title-bar {
    background-color: var(--sweet-tarts);
    color: var(--milk-tea-brown);
    height: 30px;
}

.title-bar-text {
    /* to improve user interaction, highlighting text will be disabled here */
    font-family: "Block Blueprint", sans-serif;
    font-size: 30px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* CONTROL BUTTONS */
.title-bar-controls {
    position: absolute;
    right: 10px;
    top: 4px;
    display: flex;
    gap: 2px;
}

.title-bar-controls button {
    width: 21px;
    height: 21px;
    font-size: 13px;
    color: var(--moss-green);
    cursor: pointer;
    border: 2px solid var(--moss-green);
}

.title-bar-controls button:hover {
}

/* WINDOW BODY */
.window-body {
    background-color: var(--whisper-pink);
    padding: 8px;
    overflow-y: auto;
    padding-bottom: 32px; 
}

.window-footer {
    background-color: var(--melon-rind); 
    color: var(--vanilla-cream); 
    height: 24px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    /* to improve user interaction, highlighting text will be disabled here */
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
